#sm-banner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#sm-banner .banner-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-image: url(@/assets/banner/b10.jpg);
  background-size: cover;
  min-width: 600px;
  height: 50vh;
  background-position: center;
  padding: 30px;
}

#sm-banner .banner-box2 {
  background-image: url(@/assets/banner/b11.jpg);
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-image: url(@/assets/banner/b12.jpg);
  background-size: cover;
  background-position: center;
  min-width: 30%;
  height: 50vh;
  padding: 30px;
  margin: 50px 0;
}

#banner3 .banner-box2 {
  background-image: url(@/assets/banner/b13.jpg);
}
#banner3 .banner-box3 {
  background-image: url(@/assets/banner/b15.jpg);
}
