#product1 {
  text-align: center;
  flex: 1;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}
#product1 .pro {
  width: 23%;
  min-width: 260px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
  transition: all 0.3s ease;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  transform: scale(1.1);
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
  background-color: #e8e8ed;
  max-height: 170px;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: #9b9ba0;
  font-size: 20px;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#product1 .pro .des .star {
  display: flex;
}
#product1 .pro .des i {
  font-size: 20px;
  color: rgb(243, 181, 25);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(219 68 68);
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #f6ede8;
  font-weight: 500;
  color: rgb(219 68 68);
  border: 1px solid rgb(216, 178, 149);
  position: absolute;
  bottom: 20px;
  right: 10px;
}
#product1 .pro .cart .cart-plus {
  position: absolute;
  top: 12px;
  left: 10px;
}
